#style1{
    text-align: center;
    color: darkcyan;

}
#style2{
    text-align: center;
    color: plum;
}
p{
    border: 2px purple solid;
    width: 65;
    margin: 50px;
    padding: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvRLTTkckspqluntEMgJ-D1E7o0wSceJXJbOeBgnogz_HrfH1trjYRwaOYzPrHtAc2ifg&usqp=CAU);
}
li{
    list-style-type: lower-alpha;
}
img{
    width: 400px;
    height: 200px;
}